@import "@/scss/colors.scss";
.button {
    width: 306px;
    letter-spacing: 0;
    border-radius: 5px;

    line-height: 25px;
    box-shadow: none;

    &::before {
        background-color: transparent;
    }
    &:focus {
        border: 2px solid #ffe6b7 !important;
    }
    &:hover {
        box-shadow: 0px 22px 44px -15px rgba(122, 118, 255, 0.4);
    }
    &:active {
        box-shadow: inset 0px 2px 4px rgba(6, 4, 87, 0.41);
    }
}

// TODO сделать line-height:14px
