// Общие
$body-font-family: "Rubik";

// Text-field
$text-field-border-radius: 5px;
//долго искал эту хрень
//НО!!! все эта фигня c неотцентрированным текстовым полем было из-за стилей для span!!!
// $text-field-outlined-dense-label-position-x: 11px;

// Buttons
$btn-font-weight: normal;
$btn-text-transform: none;
$input-font-size: 14px;
