.modal-panel {
	padding: 56px 31px 77px;
	box-shadow: 0px 22px 44px -15px rgba(0, 0, 0, 0.25);
	text-align: center;
	display: flex;
	// overflow: auto;
	// height: max-content;
	&__form {
	}
	&__header {
		margin-bottom: 25px;
		span {
			margin-top: 20px;
		}
	}
	&__inputs {
	}
	&__input {
		margin-bottom: 19px;
	}
	&__search-select {
	}
	&__second-text {
		margin-top: 13px 0 23px;
	}

	&__buttons {
		margin-top: 19px;
		margin-bottom: -17px;
	}
	&__button {
		margin-bottom: 17px;
	}
}

// Гошины
.col {
	padding: 8.5px;
}
// .v-text-field__details {
// 	display: none;
// }
.quart-setting {
	&__time {
		width: 152px !important;
		font-size: 14px;
		display: flex;
		align-content: center;
		margin: auto;
	}
}
.quart-setting__time .v-input__slot {
	padding: 0px 20px !important;
}
.time-setting {
	&__row > .col:nth-child(3) {
		padding: 0px;
	}
	&__time {
		width: 64px !important;
		font-size: 14px;
		display: flex;
		align-content: center;
		margin: auto;
	}
}
.time-setting__time .v-input__slot {
	padding: 0px 3px !important;
}
